/*
 * Lost - 404 Page
 * Build Date: October 2016
 * Author: joashp
 */

 @import url(https://fonts.googleapis.com/css?family=Gilda+Display);


 /*
  * http://meyerweb.com/eric/tools/css/reset/ 
  * v2.0 | 20110126
  * License: none (public domain)
  */
 
 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font - size: 100 %;
     font: inherit;
     vertical - align: baseline;
 }
 
 
 /* HTML5 display-role reset for older browsers */
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section,
 main {
     display: block;
 }
 
 body {
     line - height: 1;
 }
 
 ol,
 ul {
     list - style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote: before,
 blockquote: after,
 q: before,
 q: after {
     content: '';
     content: none;
 }
 
 table {
     border - collapse: collapse;
     border - spacing: 0;
 }
 
 
 /* ---------------code 404 style---------------------- */
 
 
 html {
     background-color: black;
     color: white;
     overflow: hidden;
     height: 100%;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     font-size: medium;
 }
 
 .error {
     font-family: 'Gilda Display', serif;
     width: 100%;
     height: 120px;
     margin: auto;
     position: absolute;
     top: 0;
     bottom: 0;
     left: -60px;
     right: 0;
     -webkit-animation: noise-3 1s linear infinite;
     animation: noise-3 1s linear infinite;
     overflow: default;
 }
 
 .centered {
     position: fixed;
     top: 50%;
     left: 50%;
     /* bring your own prefixes */
     transform: translate(-50%, -50%);
 }
 
 code {
     color: white;
 }
 
 span.blue {
     color: #48beef;
 }
 
 span.comment {
     color: #7f8c8d;
 }
 
 span.orange {
     color: #f39c12;
 }
 
 span.green {
     color: #33cc33;
 }